@mixin link-color ($link, $visit, $hover, $active) {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($params) {
  -webkit-border-radius: $params;
     -moz-border-radius: $params;
      -ms-border-radius: $params;
          border-radius: $params;
}